# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

# C# (cs/)
cs/*.user
cs/**/*.user
cs/**/bin/
cs/**/obj/
cs/**/*.suo
cs/**/*.userprefs
cs/**/*.pidb
cs/**/*.booproj
cs/**/*.svd
cs/**/*.pdb
cs/**/*.mdb
cs/**/*.opendb
cs/**/*.VC.db

# C++ (cpp/)
cpp/**/*.obj
cpp/**/*.pch
cpp/**/*.pdb
cpp/**/*.ilk
cpp/**/*.exp
cpp/**/*.lib
cpp/**/*.dll
cpp/**/*.exe
cpp/**/*.idb
cpp/**/*.ipdb
cpp/**/*.iobj
cpp/**/*.sbr
cpp/**/*.bsc
cpp/**/*.opendb
cpp/**/*.VC.db
cpp/**/*.tlog
cpp/**/*.lastbuildstate
cpp/**/*.log
cpp/**/ipch/
cpp/**/*.aps
cpp/**/*.ncb
cpp/**/*.sdf
cpp/**/*.opensdf

# CMake (if used in cpp/)
cpp/**/CMakeFiles/
cpp/**/CMakeCache.txt
cpp/**/cmake_install.cmake
cpp/**/Makefile
cpp/**/_deps/

# Crash dumps
*.dmp

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini
